.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.footer {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    background: pink;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    &-copyright {
        margin: 0;
        display: inline-block;
        color: white;
    }
}